:root {
  --color-bg-light: #c8b562;

  --color-list-item-light: #f0dbdb;
  --color-list-item-light-hovered: #f0d1d1;
  --color-list-item-unordered-light: #e97b7b;

  --color-search-light: #f5ebe0;

  --gradient: linear-gradient(to right bottom, #fbdb89, #f48982);

  --window-title-light: #d98211;
}

body {
  background-color: var(--color-bg-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  background-image: var(--gradient);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.search {
  background-color: var(--color-search-light);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(var(--color-search-light), 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.shopping-list {
  padding: 0;
}

.shooping-list-item {
  background-color: var(--color-list-item-light);
  list-style: none;
  width: 50%;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

.shopping-list-item:hover {
  background-color: var(--color-list-item-light-hovered);
}

.list-item-content {
  margin: 1rem, 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

.shopping-list-item-container {
  height: 5rem;
}

.list-item-content:hover {
  background-color: var(--color-list-item-light-hovered);
}

.item-label-container {
  width: 40rem;
  font-size: 2rem;
  margin-left: 0.5rem;
}
.category-container {
  width: 30rem;
}

.category-label {
  opacity: 0.5;
}

.category-label:hover {
  opacity: 1;
  cursor: pointer;
}

.amount-spinner {
  width: 3rem;
  height: 2rem;
  background-color: inherit;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: lightgray;
  font-size: 1.5rem;
}

.list-item-button {
  height: 1.5rem;
  margin: 0 0.5rem;
  opacity: 50%;
  cursor: pointer;
}

.list-item-unordered {
  background-color: var(--color-list-item-unordered-light);
}

.list-item-button:hover {
  opacity: 100%;
}

.checked-item {
  background-color: #cdd1d1;
  text-decoration: line-through;
}

.checked-item:hover {
  background-color: #b6d1d1;
}

.add-item-dropdown {
  position: absolute;
  width: 50%;
  height: 0px;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  width: 30rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100%;
}

.search-fields {
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.dropdown__articles-list {
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  margin: 0;
  list-style: none;
  padding-left: 1rem;
}

.hidden {
  display: none;
}

.dropdown__article {
  width: 100%;
  font-size: 1.3rem;
}

.dropdown__article:hover {
  background-color: lightgray;
}

.menu-buttons {
  display: flex;
  margin: 0.3rem;
  background-color: var(--color-search-light);
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--color-search-light);
}

.menu-button:hover {
  background-color: #d89650;
  cursor: pointer;
}

.menu-shop-button {
  display: inline-block;
}

.menu-item-icon {
  height: 1.5rem;
  padding: 0.5rem;
}

.menu-item-label {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.shop-label-container {
  display: flex;
}

.current-shop-label {
  margin: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.categories-window {
  position: fixed;
  top: 10%;
  right: 25%;
  width: 50%;
  height: 75%;
  background-color: white;
  z-index: 1000;
  /* transform: translate(-25%, -50%); */
}

.add-button {
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  opacity: 50%;
  top: 1rem;
  left: 0.5rem;
}

.add-button:hover {
  opacity: 1;
  cursor: pointer;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background: none;
  opacity: 0.5;
}

.btn--close-modal:hover {
  opacity: 1;
}

.categories__list-container {
  display: block;
  height: calc(100% - 9.5rem);
  /* margin-top: 3rem; */
}

.category-label-container {
  width: 95%;
  margin-left: 0.5rem;
  height: 100%;
}

.categories__category_name {
  position: relative;
  top: 25%;
}

.remove-category-container {
  margin-right: 0.5rem;
}

.current-category {
  background-color: lightgreen;
}

.categories__list {
  list-style: none;
  padding: 0 0.5rem;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
}

.categories__category_item {
  height: 3rem;
}

.window-title {
  background-color: var(--window-title-light);
  height: 6rem;
}

.window-title-text {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.new-item-form {
  width: 95%;
  height: 100%;
  display: flex;
}

.new-list-item {
  background-color: #d3d3d377;
  position: relative;
  z-index: 1000;
}

.new-item-name {
  position: relative;
  border-style: none;
  background-color: #d3d3d3d6;
}

.new-category-input {
  width: 100%;
  font-size: 1.5rem;
  top: 15%;
}

.error-input {
  box-sizing: border-box;
  border: 3px solid red;
  outline: none;
}

.new-list-item-input {
  width: 95%;
  font-size: 2rem;
  top: 25%;
}

.new-item-name:focus {
  outline: none;
}

.new-list-item:hover {
  background-color: #d3d3d377;
}

.category-button {
  opacity: 0.5;
  cursor: pointer;
  border: none;
}

.category-button:hover {
  transform: scale(1.05);
}

.button-image {
  height: 1.5rem;
}

.articles-window {
  position: fixed;
  top: 10%;
  right: 25%;
  width: 50%;
  height: 75%;
  background-color: white;
  z-index: 1000;
  /* transform: translate(-25%, -50%); */
}

.new-article-fields {
  display: flex;
  width: calc(100% - 3rem);
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}

.new-article-input {
  width: 95%;
  font-size: 2rem;
  top: 15%;
}

.articles__add-article-button {
  margin-top: 0.5rem;
}
